{% extends 'base.html' %}
{% block content %}
    <div class="jumbotron">
        <h2> <i class="fa fa-list"></i> Outstanding Issues </h2>
        <hr>
        {% for ticket in tickets %}
            <div class="row">
                <div class="col-md-2 col-sm-3 text-center">
                    {% if ticket.ticket_type == 'BUG' %}
                        <a href="{% url 'ticket_detail' ticket.id %}"><img src="/media/img/bug.jpg" class="img-circle" height=90px></a>
                    {% else %}
                        <a href="{% url 'ticket_detail' ticket.id %}"><img src="/media/img/new_feature.jpg" class="img-circle" height=90px></a>
                    {% endif %}
                    </div>
                <div class="col-md-10 col-sm-9">
                    {% if ticket.status == 'UNDER_REVIEW' %}
                        <h4><span class="label label-default">Status: {{ ticket.status }}</span></h4>
                    {% elif ticket.status == 'DECLINED' %}
                        <h4><span class="label label-danger">Status: {{ ticket.status }}</span></h4>
                    {% elif ticket.status == 'PLANNED' %}
                        <h4><span class="label label-primary">Status: {{ ticket.status }}</span></h4>
                    {% elif ticket.status == 'IN_PROGRESS' %}
                        <h4><span class="label label-info">Status: {{ ticket.status }}</span></h4>
                    {% elif ticket.status == 'COMPLETED' %}
                        <h4><span class="label label-success">Status: {{ ticket.status }}</span></h4>
                    {% else %}
                        <h4><span class="label label-warning">Status: {{ ticket.status }}</span></h4>
                    {% endif %}
                    <h1 class="h4"><span class="issue-field status status-{{ status_choice|lower }}">{{ status }}</span>{{ title }}</h1>
                    <h3>{{ ticket.title }}
                        <a href="{% url 'ticket_vote_list' pk=ticket.pk %}" {{ ticket.upvote }}<p><span title="Click here to vote for this issue" class="badge upvote">{{ ticket.upvotes }} <span class="glyphicon glyphicon-arrow-up upvote"></span></span></p></a>
                    </h3>
                    <div class="row">
                        <div class="col-xs-9">
                            <h5>{{ ticket.content|truncatewords:50 }}</h5>
                            <h5><span class="boldtext">Ticket Type:</span> {{ ticket.ticket_type }} </h5>
                            <h6><span class="boldtext">Published on:</span> {{ ticket.published_date }} </h6>
                            <h6><span class="boldtext">Views:</span> {{ticket.views}}</h6>
                            <h6><span class="boldtext">Upvotes:</span> {{ ticket.upvotes }}</h6>
                            <p><a href="{% url 'ticket_detail' ticket.id %}"  class="btn btn-default">Read more</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
        {% endfor %}
    </div>
{% endblock %}