{% extends "base.html" %}

{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block content %}
    <div class="jumbotron">
        <div class="row">
            <h2> <i class="fa fa-list"></i> Issue Detail </h2>
            <hr>
            <div class="col-md-2 col-sm-3 text-center">
                 {% if ticket.ticket_type == 'BUG' %}
                        <a href="{% url 'ticket_detail' ticket.id %}"><img src="/media/img/bug.jpg" class="img-circle" height=90px></a>
                    {% else %}
                        <a href="{% url 'ticket_detail' ticket.id %}"><img src="/media/img/new_feature.jpg" class="img-circle" height=90px></a>
                    {% endif %}
            </div>
            <div class="col-sm-10 col-md-9">
                {% if ticket.status == 'UNDER_REVIEW' %}
                    <h4><span class="label label-default">Status: {{ ticket.status }}</span></h4>
                {% elif ticket.status == 'DECLINED' %}
                    <h4><span class="label label-danger">Status: {{ ticket.status }}</span></h4>
                {% elif ticket.status == 'PLANNED' %}
                    <h4><span class="label label-primary">Status: {{ ticket.status }}</span></h4>
                {% elif ticket.status == 'IN_PROGRESS' %}
                    <h4><span class="label label-info">Status: {{ ticket.status }}</span></h4>
                {% elif ticket.status == 'COMPLETED' %}
                    <h4><span class="label label-success">Status: {{ ticket.status }}</span></h4>
                {% else %}
                    <h4><span class="label label-warning">Status: {{ ticket.status }}</span></h4>
                {% endif %}
                <h3>{{ ticket.title }}
                    <a href="{% url 'ticket_vote' pk=ticket.pk %}" {{ ticket.upvote }}<p><span title="Click here to vote for this issue" class="badge upvote">{{ ticket.upvotes }} <span class="glyphicon glyphicon-arrow-up"></span></span></p></a>
                </h3>
                <div class="row">
                    <div class="col-xs-9">
                        <h5>{{ ticket.content }}</h5>
                        <h5><span class="boldtext">Ticket Type:</span> {{ ticket.ticket_type }} </h5>
                        {% if ticket.image %}
                            <div class="issue-img">
                                <img src="{{ MEDIA_URL }}{{ ticket.image }}" class="image-to-zoom">
                            </div>
                        {% endif %}
                        <h6><span class="boldtext">Published on:</span> {{ ticket.published_date }} </h6>
                        <h6><span class="boldtext">Views:</span> {{ticket.views}}</h6>
                        <h6><span class="boldtext">Upvotes:</span> {{ ticket.upvotes }}</h6>
                        <p></p>
                        <a href="{% url 'get_tickets' %}" class="btn btn-default">Back to tickets</a>
                        <a href="{% url 'edit_ticket' ticket.id %}" class="btn btn-default">Edit ticket</a>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Ticket comments section -->
    <div class="container">
        <h4><u>Comments</u></h4>
        <hr>
        {% for comment in comments %}
            
            <p>{{ comment.comment }}</p>
            <small>{{ comment.author }} - {{ comment.comment_date|date:"M d 'y, G:i" }}</small>
            <hr>
        {% endfor %}
    </div>
    
    {% if user.is_authenticated %}
    <div class="container">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %} 
            {{ comment_form|as_bootstrap_inline }}
            <div class="form-actions">
                <input type="submit" class="btn btn-primary" value="Submit" name="submit" >
            </div>
        </form>   
    </div>
    {% else %}
    <i><a href="{% url 'login' %}">Sign in</a> to add a comment</i>
    {% endif %}
    
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        // Resize image on click with animation
        $('.image-to-zoom').on('click', function() {
            if ($(this).width() === 200) {
                $(this).animate({
                    width: "100%",
                    maxWidth: "90vw"
                }, 700);
            } else {
                $(this).animate({
                    width: "200px",
                }, 700);
            }
        });
    });
</script>
{% endblock %}