{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-2 col-sm-3 text-center">
            <a class="story-img" href="#">
                <img src="/media/img/profile.jpg" class="img-circle">
            </a>
            <p><span class="boldtext">Author:</span> Darren Messenger</p>
        </div>
        <div class="col-sm-10 col-md-9">
            {% if ticket.image %}
                <img class="img-blogpost" src="/media/{{ post.image }}">
            {% endif %}
            <h3>{{ ticket.title }}</h3>
            <div class="row">
                <div class="col-xs-9">
                    <p>{{ ticket.content }}</p>
                    <p><span class="boldtext">Published on:</span> {{ ticket.published_date }} </p>
                    <p><span class="boldtext">Views:</span> {{ticket.views}}</p>
                    <p><span class="boldtext">Tag:</span> {{ ticket.tag }}</p>
                    <a href="{% url 'get_tickets' %}" class="btn btn-default">Back to tickets</a>
                    <a href="{% url 'edit_ticket' ticket.id %}" class="btn btn-default">Edit ticket</a>
                    <hr>
                </div>
            </div>
        </div>
    </div>
{% endblock %}