{% extends 'base.html' %} 
{% block page_title %}{{ user }}'s Profile{% endblock %} 
{% block content %}
<div class="jumbotron">
  <div class="row">
    <div class="profile-info">
      <h2 class="text-centre"><i class="fa fa-user"></i>  Profile </h2>
      <hr>
      <h3 class="text-centre">  {{ user }} <h3>
      <p class="lead">{{ profile.user.email }}</p>
      <h4 class="text-centre">eMail: {{ profile.email }}</h4>
      <hr>
      <h5 class="text-centre"><i class="fas fa-mug-hot fa-2x"></i> Buy us a coffee? If you would like to make a one time donation then please click the button!</h5>
      <hr>
    <a href="{% url 'checkout' %}" class="btn btn-success btn-md" role="button"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span> Donate</a>
    </div>
  </div>
</div>
{% endblock %}