{"filter":false,"title":".gitignore","tooltip":"/issuetracker/.gitignore","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1607532351763,"hash":"8b3610a0838b15be2fb400301a33a1a9bf99d4ce"}