{"filter":false,"title":"requirements.txt","tooltip":"/issuetracker/requirements.txt","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1607532262094,"hash":"335e4bf6e85df6c2fb6cee034f1737e5705edbcb"}