{% load staticfiles %}

<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>IssueTracker{% block page_title %}{% endblock %}</title>
    <link rel="icon" href="media/img/bug.jpg">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://kit.fontawesome.com/c46cd61739.js" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
    {% block head_js %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    //<![CDATA[
        Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock %}
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'index' %}"><i class="fas fa-hands-helping"></i> IssueTracker</a>
            </div>
    
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'get_tickets' %}"><i class="fa fa-list"></i> Issues</a></li>
                    <li><a href="{% url 'new_ticket' %}"><i class="fa fa-plus"></i>  New Issue</a></li>
                </ul>
                
                <ul class="nav navbar-nav navbar-right">
                                       
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'profile' %}"><i class="fa fa-user"></i> {{ user.username }}</a></li>
                    <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i> Logout</a></li>
                    {% else %}
                    <li><a href="{% url 'login' %}"><i class="fa fa-sign-in"></i> Login</a></li>
                    <li><a href="{% url 'registration' %}"><i class="fa fa-user-plus"></i> Register</a></li>
                    {% endif %}
                    
                </ul>
            </div>
        </div>
    </nav>
   
     <h1>
        {% block page_heading %}{% endblock %}
    </h1>
    {% if messages %}
    <div>
        {% for message in messages %} 
            {{ message }} 
        {% endfor %}
    </div>
    {% endif %} 
    <div class="container">
        <div class="row">
            <!--<div class="col-md-10">-->
                <div class="panel">
                    <!--ticket entries-->
                    {% block content %}{% endblock %}
                    <!--ticket entries-->
                </div>
            <!--</div>-->
        </div>
    </div>
    <footer class="footer footer-default">
      <div class="footer-container">
        <div class="row footer-social">
            <ul class="list-inline social-links">
              <li><a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a></li>
              <li><a href="https://www.linkedin.com/in/darren-messenger-a4a59951" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
              <li><a href="https://github.com/darrenmessenger" target="_blank"><i class="fab fa-github"></i></a></li>
              <li><a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a></li>
            </ul>
        </div>
      </div>
        <div class="container">
          <div class="copyright">
            © 2020 - Website designed and built by Darren Messenger
          </div>
        </div>
    </footer>
</body>

</html>